<div class="todo">
	<form (submit)="onSubmit($event);">
		<h3>
			Todo List: ({{ updateIncomplete() }} of {{ todos.length }})
		</h3>
		
		<div class="todo__fields">
			<input ng-control="label" [ngModel]="label" (ngModelChange)="label = $event" class="todo__input">
			<button type="submit" class="todo__submit">
				Add <i class="fa fa-check-circle"></i>
			</button>
		</div>
		
	</form>
	
	<ul class="todo__list">
		<li *ngFor="#item of todos; #i = index"
			[ngClass]="{ 'todo__list--complete': item.complete }">
			
			<input type="checkbox" [(ngModel)]="item.complete">
			<p>{{ item.label }}</p>
			<span (click)="deleteItem(i);">
				<i class="fa fa-times-circle"></i>
			</span>
		</li>
	</ul>
</div>